

<h4>Escolha seu personagem Marvel</h4>
<input type="text" 
  ng-model="asyncSelected" 
  placeholder="Search for you character" 
  typeahead="characters for characters in getCharacters($viewValue)" 
  typeahead-loading="loadingCharacters"  
  typeahead-on-select="selectCharacter($item);asyncSelected=''" 
  class="form-control"
/>
<i ng-show="loadingCharacters" class="glyphicon glyphicon-refresh"></i>

<div ng-if="showCharInfo">
  <div ng-if="char.thumb" class="thumbnail"><img src="{{char.thumb}}" /></div>
  <div class="charName"><b>{{char.name}}</b></div>
  <div class="charDesc">{{char.desc}}</div>
</div>