#background-game {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/assets/img/background-min.jpg");
    background-size: 100%;

    #mask {
        height: 100%;
        width: 100%;
        position: absolute;
        background: black;
        opacity: 0.3;
    }
}

#header-game {
    width: 100%;
    min-height: 200px;
    // background: #cccccc;

    #scoreboard {
        display: flex;

        .character-score {
            margin: 0 auto;
            text-align: right;
            
            &:first-child {
                text-align: left;
            }

            &:last-child {
                .card-c { 
                    float: right;
                }
            }

            .card-c {
                width: 200px;
                text-align: center;
                display: inline-table;

                h5 {
                    font-weight: bold;
                    color:#2C2C2C;               
                }
            }
        }

        .score {
            img {
                width: 130px;
                margin-top: -30px;
            }

            p {
                font-size: 65px;
                font-family: 'Nunito', sans-serif;
                color: #2C2C2C;
                margin-top: 35px;
                display: inline-block;
            }
        }
    }

}

#game {
    width:452px;
    height:450px;
    border: 1px solid;
    margin: 30px auto;

    .cell-row{
        height:150px;
        border-bottom: solid 1px;

        .cell{
            width:150px;
            height:100%;
            border: 1px solid;
            float:left;
            background-size: 150px !important;
            cursor: pointer;

            background: #577591;
            opacity: 0.9;
        }
    }
}
.character {
    height: 125px;
    width: 125px;
}