#header-game {
    width: 100%;
    min-height: 100px;
    background: #cccccc;

    #scoreboard {
        display: flex;

        .character-score {
            margin: 0 auto;
            text-align: right;
            
            &:first-child {
                text-align: left;
            }
        }
    }

    // background-image: url(http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif);
    // background-size: 400px;

}
#jogo{
    width:452px;
    height:450px;
    border: 1px solid;
    margin: 50px auto;

    .linha{
        height:150px;
        border-bottom:solid 1px;

        .casa{
            width:150px;
            height:100%;
            border: 1px solid;
            float:left;
            background-size: 150px;
            cursor: pointer;
        }
    }
}
.character {
    height: 125px;
    width: 125px;
}