#jogo{
    width:452px;
    height:450px;
    border: 1px solid;
    margin: 50px auto;

    .linha{
        height:150px;
        border-bottom:solid 1px;

        .casa{
            width:150px;
            height:100%;
            border: 1px solid;
            float:left;
            background-size: 150px;
        }
    }
}
.character {
    height: 200px;
    width: 200px;
}